services:
  server:
    image: 192.168.1.10:5001/bomb-server:latest  # IP de VM1 (registry)
    container_name: bomb_server
    ports:
      - "5000:5000"      # Port pour les joueurs
      - "8080:8080"      # Port pour le dashboard web
    networks:
      bomb_network:
        ipv4_address: 172.21.0.10
    environment:
      - SERVER_PORT=5000
      - MIN_PLAYERS=2
      - MAX_TIMER=15
      - MIN_TIMER=5
    restart: unless-stopped

  player2:
    image: 192.168.1.10:5001/bomb-player:latest
    container_name: bomb_player2
    networks:
      bomb_network:
        ipv4_address: 172.21.0.12
    environment:
      - PLAYER_NAME=GreenArcher
      - SERVER_HOST=172.21.0.10
      - SERVER_PORT=5000
      - REACTION_TIME=3.2
    restart: unless-stopped

  dashboard:
    image: 192.168.1.10:5001/bomb-dashboard:latest
    container_name: bomb_dashboard
    ports:
      - "3000:80"
    networks:
      bomb_network:
        ipv4_address: 172.21.0.20
    environment:
      - SERVER_HOST=172.21.0.10
      - SERVER_PORT=5000
    restart: unless-stopped

networks:
  bomb_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/24